.verde {
    width: 200px;
    height: 100px;
    background-color: green;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 200px;
    
}

.rojo {
    width: 200px;
    height: 600px;
    background-color: red;
    color: #fff;
    text-align: center;
}

.azul {
    width: 200px;
    height: 700px;
    background-color: blue;
    color: #fff;
    text-align: center;
}